language: node_js
install:
  - yarn
cache:
  directories:
    - travis_phantomjs
node_js:
  - 8.6
script:
  - npm run lint:api
  - npm run lint:ui
  - npm run test:api:cover
  - npm run test:ui
  - NODE_ENV=test npm run build
  # - npm run test:integration
services:
  - redis-server
addons:
  sauce_connect: true
  hosts:
    - test-makes.audio
after_success:
  - npm run coveralls
