html(lang='en')
  head
    title MAKES.AUDIO
    meta(name='charset', content='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    include ./favicons
    meta(name='description', content='Upload and manage unlimited audio files.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/dist/main.js', defer=true)
  body
    #root(data-user=user, data-context=context)
      root
