p
  | Hi #{username}, are you ready to sign into your
  |  
  strong makes.audio
  |  account?
p
  | Click
  |  
  a(href=href) here to reset your password
  | .
p
  | Didn't make this request? Ignore this email and your password will not be changed.
