$pink: #f000ff;
$pink-light: lighten($pink, 30%);
$pink-dark: darken($pink, 30%);

$gray: #d5d5d5;
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 13%);
$gray-dark: darken($gray, 30%);

$blue: rgb(36, 170, 233);
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 30%);

$red: rgb(232, 64, 0);
$red-light: lighten($red, 10%);
$red-dark: lighten($red, 30%);

$black: #111;

$white: #ffffff;

$primary: $pink;
$success: rgb(87, 226, 70);
$danger: rgb(231, 29, 29);
$warning: rgb(240, 234, 98);
$info: rgb(148, 218, 221);
