@mixin extension_styling($color) {
  border-left-color: $color;
  .extension {
    color: $color;
  }
}

.dashboard-audio-list-item {
  border-left: 6px solid $gray-dark;

  &.mp3 {
    @include extension_styling($blue);
  }
  &.wav {
    @include extension_styling($red);
  }
  &.flac {
    @include extension_styling($pink);
  }
  &.aif {
    @include extension_styling($green);
  }
  &.wma {
    @include extension_styling($yellow);
  }
  &.mid, &.midi {
    @include extension_styling($purple);
  }
}